---
page_id: home
layout: home
lang: en
title: home
permalink: /
subtitle: <a href='https://www.argentina.gob.ar/cnea/cab'>Bariloche Atomic Center</a>. National Atomic Energy Commission.

news: true # includes a list of news items
selected_papers: false # includes a list of papers marked as "selected={true}"
social: true # includes social icons at the bottom of the page

images:
  slider: true
---
<!-- Banner Image -->
<div class="row justify-content-sm-center">
  <div class="col-sm-auto">
      {% include figure.liquid 
      loading="eager" 
      path="/assets/img/metales-banner.jpg" 
      class="img-fluid rounded z-depth-1" 
      zoomable=true %}
  </div>
</div>

<div>
  {% include team_size.liquid %}
</div>


<div class="row justify-content-sm-center">
    <h3>
      Nuestras actividades se centran en tres ejes
    </h3>
</div>
<div class="container">
<div class="row justify-content-sm-center align-items-center">
    <div class="col">
      <h1>Investigación</h1>
    </div>
    <div class="col">
      <h1>Docencia</h1>
    </div>
    <div class="col">
      <h1>Servicios</h1>
    </div>
</div>
</div>

<div>
  {% include carousel_videos.html %}
</div>
